<div class="row">
    <div class="col-sm-6">
        <h1 class="all-games-title"><%= @title %></h1>
    </div>
    <div class="create-game-div col-sm-6">
        <%= link_to 'Create Game', new_court_path, :class => 'btn btn-success new-game-btn' %>
    </div>
</div>

<div class="row">
    <div id="all-games-map" class="col-sm-12" data-locations="<%= render :partial => 'maps/maps', :locals => { games: @games } %>" data-api-key="<%= ENV["google_api_key"] %>"></div>
</div>

<div class="row game-list">
    <div class="col-sm-12">
        <div id="games" data-games="<%= render :partial => 'games/games', :locals => { games: @games } %>"></div>
    </div>
</div>

<%= javascript_pack_tag 'maps' %>
<%= javascript_pack_tag 'games' %>
