<!DOCTYPE html>
<html>
<head>
    <title>HoopFinder</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <%= link_to image_tag("basketball-hoop.png") + "Hoopfinder", root_path, :class => 'navbar-brand main-logo'  %>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <%= link_to "Games", games_path, :class => 'nav-link' %>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Chat</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">News</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav ml-auto">
                    <% if user_signed_in? %>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"><%= current_user.username %></a>
                            <span class="caret"></span>
                            <div class="dropdown-menu">
                                <%= link_to 'Edit profile', edit_user_registration_path, :class => 'dropdown-item' %>
                                <%= link_to "Sign Out", destroy_user_session_path, method: :delete, :class => 'dropdown-item'  %>
                            </div>
                        </li>
                    <% else %>
                        <li class="nav-item">
                            <%= link_to "Log In", new_user_session_path, :class => 'nav-link'  %>
                        </li>
                        <li class="nav-item">
                            <%= link_to "Sign Up", new_user_registration_path, :class => 'nav-link'  %>
                        </li>
                    <% end %>
                </ul>
            </div>
        </div>
    </nav>

    <% if flash[:notice] %>
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= flash[:notice] %>
        </div>
    <% elsif flash[:alert] %>
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= flash[:alert] %>
        </div>
    <% end %>

    <div class="container main-view">
        <%= yield %>
    </div>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["google_api_key"] %>&libraries=places"></script>
</body>
</html>
